/* body background color */
body {
    background-color: #191919;
}

/* code block style */
.hljs.language-undefined {
    background-color: #303030;
    color: white;
    border-radius: 1rem;
}
.hljs.language-bash {
    background-color: #303030;
    color: white;
    border-radius: 1rem;
}

/* readme tag font size */
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}