text {
    font-weight: bolder !important;
}
.main-svg:first-child {
    background-color: #303030 !important;
    border-radius: 1rem;
}
.ygrid.crisp {
    stroke: rgb(131, 141, 153) !important;
    stroke-opacity: 1;
    stroke-width: 1px;
}
#bar-graph-dropdown {
    width: 8rem;
    position: absolute;
    left: 91rem;
    top: 40.5rem;
    z-index:5;
}

#pie-graph-dropdown1 {
    width: 8rem;
    position: absolute;
    left: 55rem;
    top: 67.5rem;
    z-index:5;
}
#pie-graph-dropdown2 {
    width: 8rem;
    position: absolute;
    left: 91rem;
    top: 13.5rem;
    z-index: 5;
}

.Select-control {
    font-weight: bold;
    background-color:#191919 !important;
    border-width:0.2rem !important;
    border-color:#ffffff !important;
    border-radius: 0.5rem !important;
    transition: all 1s;
}

.Select-value > .Select-value-label {
    color: #ffffff !important;
}
.Select-menu-outer {
    color: #ffffff;
    z-index: 4;
    border-radius: 0.5rem;
    background-color: #191919;
    border-width: 0.2rem;
    border-color: #ffffff;
}
.Select-control:hover {
    transform: scale(1.01);
}

#group1 {
    display: flex !important;
    justify-content: space-between !important;
    margin: 0rem 0rem 2rem 0rem !important;
}
#group2 {
    margin: 0rem 0rem 2rem 0rem !important;
}
#group3 {
    display: flex !important;
    justify-content: space-between !important;
    margin: 0rem 0rem 2rem 0rem !important;
}

div#pie-chart-basic-container1 > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 34rem !important;
    height: 25rem !important;
    transition: all 1.5s;
}
div#pie-chart-basic-container1 > div > div > div > div > div.user-select-none.svg-container:hover {
    transform: scale(1.01);
}
div#pie-chart-basic-container2 > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 34rem !important;
    height: 25rem !important;
    transition: all 1.5s;
}
div#pie-chart-basic-container2 > div > div > div > div > div.user-select-none.svg-container:hover {
    transform: scale(1.01);
}
div#bar-chart-container1 > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 70rem !important;
    height: 25rem !important;
    transition: all 1.5s;
}
div#bar-chart-container1 > div > div > div > div > div.user-select-none.svg-container:hover {
    transform: scale(1.01);
    transition: transform 2s ease;
    transition-timing-function: ease-out;
}

div#pie-chart-container1 > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 34rem !important;
    height: 25rem !important;
    transition: all 1.5s;
}
div#pie-chart-container1 > div > div > div > div > div.user-select-none.svg-container:hover {
    transform: scale(1.01);
}
#bar-chart-container2 {
    position: relative;
    contain: content;
    transition: all 1.5s;
}
#bar-chart-container2:hover {
    transform: scale(1.01);
}
div#bar-chart-container2 > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 34rem !important;
    height: 100rem !important;
}

/* div#bar-chart-container2 > div > div > div > div > div.user-select-none.svg-container {
    transform: scale(1.01);
} */
