body {
    background-color: #191919;
}
.nav-link.active {
    background-color: #303030 !important;
}
.hljs.language-undefined {
    background-color: #303030;
    color: white;
    border-radius: 1rem;
}
.hljs.language-bash {
    background-color: #303030;
    color: white;
    border-radius: 1rem;
}
.lead {
    font-size: 1.6rem;
    font-weight: 300;
    white-space: pre-line;
    margin-bottom: 2rem;
}
.main-svg:first-child {
    background-color: #212121 !important;
    border-radius: 1rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
.Select-value > .Select-value-label {
    color: #ffffff !important;
}
.Select-menu-outer {
    color: #ffffff;
    left: 60.7rem;
    top: 5.6rem;
    z-index: 4;
    border-radius: 0.5rem;
    background-color: #191919;
    border-width: 0.2rem;
    border-color: #ffffff;
}