body {
    background-color: #191919;
}
.nav-link.active {
    background-color: #303030 !important;
}
.hljs.language-undefined {
    background-color: #303030;
    color: white;
    border-radius: 1rem;
}
.hljs.language-bash {
    background-color: #303030;
    color: white;
    border-radius: 1rem;
}
.lead {
    font-size: 1.6rem;
    font-weight: 300;
    white-space: pre-line;
    margin-bottom: 2rem;
}
.main-svg:first-child {
    background-color: #303030 !important;
    border-radius: 1rem;
}
.ygrid.crisp {
    stroke: rgb(131, 141, 153) !important;
    stroke-opacity: 1;
    stroke-width: 1px;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

#bar-graph-dropdown {
    width: 8rem;
    position: relative;
    left: 70rem;
    top: 4rem;
    z-index:5;

}

#pie-graph-dropdown {
    width: 8rem;
    position: relative;
    left: 70rem;
    top: 4rem;
    z-index:5;

}
.Select-control {
    font-weight: bold;
    background-color:#191919 !important;
    border-width:0.2rem !important;
    border-color:#ffffff !important;
    border-radius: 0.5rem !important;
}

.Select-value > .Select-value-label {
    color: #ffffff !important;
}
.Select-menu-outer {
    color: #ffffff;
    /* left: 65.7rem;
    top: 6rem; */
    z-index: 4;
    border-radius: 0.5rem;
    background-color: #191919;
    border-width: 0.2rem;
    border-color: #ffffff;
}

#bar-chart-container {
    display: flex;
    justify-content: center;
}
div#bar-chart-container > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 70rem !important;
    height: 25rem !important;
}

#pie-chart-container {
    display: flex;
    justify-content: center;
}

div#pie-chart-container > div > div > div > div > div.user-select-none.svg-container {
    position: relative !important;
    width: 35rem !important;
    height: 36rem !important;
}